@media(max-width: 767px){
}


@media(min-width:768px) and (max-width:991px){

}

@media(min-width:992px){

}

h1{
	font-family:"Arial Black",Gadget,sans-serif;
	font-size:1.75em;
	text-align:center;
}