



.row div{
	background-color:gray;
  margin-bottom:20px;
  padding:30px;
}



#nav-header{
	border-radius:0;
	
	background-color:gray;
	border:2px solid black;
	
}



.navbar-header .navbar-brand p{
	color:black;
	font-style: :bold;
}

.navbar-header .navbar-brand{
  border:0;
}


.navbar-default .navbar-toggle .icon-bar {
    
    border:2px solid black;

}

.navbar-default .navbar-toggle {
      outline-width:1px;
      outline-color:black;
      outline-style:solid;
      
}

#btn{
	background-color:gray;
	border-color:gray;
}





  #collapsable-nav span{

     font-size:1.2em;


  }



.row{
  margin-right:15px;
  margin-left:15px;
}

.navbar-toggle:focus .icon-bar {
    	border-color:white; 

    }

    

    .navbar-default .navbar-toggle:focus {
        outline-width:1px;
      outline-color:white;
      outline-style:solid;
      
      
      }

      .navbar-default .navbar-collapse{
        border:0;
      }
     

      .navbar-default .navbar-collapse ul{
     
     margin-top:0;
     margin-bottom:0;
      background-color:#ffffcc;
      border-top:2px solid black;

      }

      .navbar-default .navbar-collapse ul li{
        padding:5px;

       border:1px solid black;
       border-top:1px solid black;
      }

      

    

   

